.gradle/
.kotlin/
build/
**/build/
.idea/
*.iml
local.properties
captures/
.cxx/
.externalNativeBuild/
composeResources/
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserstate
*.knm
*.konan/
*.kexe
*.dSYM/
*.h
*.c
*.o
node_modules/
*.js.map
dist/
.idea/compose-preview.xml
.vscode/